.idea

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# systeme
Thumbs.db
ehthumbs.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Dossiers de build/déploiement
dist/
build/

# Fichiers sensibles
.env
.env.local
.env.*.local

# Archives et documents
*.zip
*.pdf

# Autres
coverage/

